DATABASE_URL="postgresql+psycopg://app:app@localhost:5432/simple_todo"
SECRET_KEY='secret_key'
ALGORITHM='HS256'
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Variáveis usadas pelo container do Postgres (docker-compose)
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=simple_todo
